<div class="container">
    <h2>Exercise list</h2>

    {{#each Exercise}}
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">{{}}</h2>
            <p class="card-text">{{name}}</p>
            <p class="card-text">{{weight}}</p>
            <p class="card-text">{{repeatsNumber}}</p>
            <a href="" class="btn btn-primary">More</a>
        </div>
    </div>
    {{/each}}
</div>